h1{
	color: rgba(11,99,150,1);
	border-color: purple;
	border-width: 5px;
	border-style: solid;

}


li{
	color:#F40000;
	border:8px solid red;
}
h4{
	background: rgb(68,0,100);
}

body{
	background: pink;

}