p {
	font-family: Arial;
}
h1{
	font-family: Georgia;
}

h1{
	font-size: 100px;
}
p{
	font-size: 30px;
}
span{
	font-size: 2.0em;	
}


p{
	font-weight: 800;
}
p{
	line-height: 2;
}

h1{
	text-align: center;
}

p{
	text-decoration: underline;
}
